* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

body {
    background: url(static/images/background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

/* box style */
.quote {
    transform: translate(-50%, -50%);
}

/* Heading Underline */
.quote h2::after {
    content: '';
    width: 100px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Quotation Marks */
.quote blockquote::before {
    content: '“';
    font-size: 30px;
    color: #0048ff;
}

.quote blockquote::after {
    content: '”';
    color: #0048ff;
    font-size: 30px;
}

/* dash design before writer [ -- writer ] */
.quote #writer::before {
    content: '';
    width: 15px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -20px;
}

/* customized tooltip for copy button */
.footer .clipBoard::before {
    content: "Copied";
    position: absolute;
    bottom: -15px;
    left: 88px;
    background: #252525;
    color: rgb(255, 255, 255);
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

.footer .clipBoard::after {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 115px;
    background: #252525;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    display: none;
}

.footer .clipBoard.active::before,
.footer .clipBoard.active::after {
    display: block;
}


/* New button style */
.quote button {
    cursor: pointer;
}

button.loading {
    opacity: 0.7 !important;
    pointer-events: none !important;
}